header {
    text-align: center;
    margin: auto;
    font-family: "Roboto Slab", sans-serif;
    font-size: 50px;
}

/* .container {

} */

img {
    align-self: center;
    margin: auto;
    cursor: pointer;
}

/* img:hover {
    transform: scale(1.2, 1.2);
    animation: 3s;
} */

.content {
    display: grid;
    margin: 0 auto;
    text-align: center;

    height: 100vh;
    align-items: center;
}

h1, h2 { 
    text-align: center;
    flex: 1;
    margin: 0 auto;
}

